@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dela+Gothic+One&family=Playfair+Display&family=Poppins:wght@200;300&family=Russo+One&display=swap");
.drum-box {
  display: flex;
  width: 680px;
  height: 300px;
  border: 4px solid orange;
  background-color: #bababa;
}

.drum-pads {
  justify-content: flex-start;
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 80px 80px 80px;
  column-gap: 15px;
  row-gap: 8px;
  padding: 16px 20px 20px 35px;
}
.controls {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.pad {
  width: 100px;
  height: 80px;
  border-radius: 6px;
  background-color: #7d7d7d;
  box-shadow: #202020 3px 3px 3px;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.power,
.bank {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 85px;
}
.bank {
  padding-bottom: 30px;
}
.power p,
.bank p {
  font-family: var(--font-family);
  user-select: none;
}
.power > .black-bar,
.bank > .black-bar {
  background-color: black;
  width: 50px;
  height: 25px;
}
#blue-bar-1 {
  background-color: blue;
  width: 20px;
  height: 19px;
  margin: 2.5px 3.5px 2px 3px;
  float: right;
  cursor: pointer;
}
#blue-bar-2 {
  background-color: blue;
  width: 20px;
  height: 19px;
  margin: 2.5px 3.5px 2px 3px;
  float: left;
  cursor: pointer;
}
.instrument-kit-name {
  width: 100%;
  height: 60px;
}

.kit-showcase {
  background-color: rgb(125, 125, 125);
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kit-showcase > h3 {
  font-family: var(--font-family);
  margin: 0 auto;
  font-weight: 200;
  user-select: none;
}
.volume {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  width: 90%;
  height: 4px;
  -webkit-appearance: none;
  appearance: none;
  background: #535353;
  outline: none;
  box-shadow: black 2px 2px 2px;
  cursor: pointer;
  padding: 0 3px 0 3px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 25px;
  background: blue;
  box-shadow: black 1px 1px 1px;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 8px;
  height: 25px;
  background: blue;
  box-shadow: black 1px 1px 1px;
  cursor: pointer;
}
.bank {
  width: 100%;
  height: 85px;
}

@media screen and (max-width: 684px) {
  .drum-box {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 620px;
  }
  .drum-pads {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 60%;
    padding-top: 30px;
  }
  .controls {
    align-items: flex-end;
    width: 100%;
    height: 40%;
  }
}

@media screen and (max-width: 645px) {
  .drum-pads {
    grid-template-rows: 60px 60px 60px;
    column-gap: 1px;
  }

  .pad {
    width: 80px;
    height: 60px;
    border: 1px solid purple;
    border-radius: 6px;
  }
  .drum-box {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    height: 440px;
  }
  .instrument-kit-name {
    width: 60%;
    margin: 0 auto;
    height: 130px;
    padding-top: 5px;
  }
}
